pandas
streamlit
streamlit-authenticator
streamlit-option-menu
beautifulsoup4
requests
plotly
matplotlib
numpy
scikit-learn
seaborn
rapidfuzz
st-pages
gdown
pydrive
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pydrive
