pandas
streamlit
streamlit-authenticator
streamlit-option-menu
beautifulsoup4
requests
plotly
matplotlib
numpy
scikit-learn
seaborn
rapidfuzz
st-pages
gdown
pydrive
google.oauth2.credentials 
google_auth_oauthlib.flow
googleapiclient.discovery 
google.auth.transport.requests